.navigation-bar {
    display: grid;
    grid-template-columns: 150px 150px 150px;
}

.flavours {
    display: grid;
    grid-template-columns: 200px 100px;
    margin-top: 32px;
}

.products {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    margin-top: 32px;
}

.measurement {
    display: grid;
    grid-template-columns: 200px 50px 50px 50px 50px;
    margin-top: 32px;
}
.add-measurement {
    display: grid;
    grid-template-columns: 200px 50px 50px 50px 50px 50px 50px;
    margin-top: 32px;
}
.add-measurement input {
    width: 32px;
}
.add-measurement input.date {
    width: 150px;
}

.delta {
    display: grid;
    grid-template-columns: 200px 50px 50px 50px;
    margin-top: 32px;
}
.delta input {
    width: 32px;
}
.delta input.date {
    width: 150px;
}

.form {
    display: grid;
    grid-template-columns: 100px 200px;
    margin-top: 32px;
}

.calculation-boxes {
    display: grid;
    grid-template-columns: 200px 100px 100px 75px 75px 75px;
    margin-top: 32px;
}

.calculation-box-flavour {
    padding-left: 16px;
}

.calculation-box-product {
    padding-left: 32px;
}

.calculation-ratio {
    display: grid;
    grid-template-columns: 200px 100px 75px 100px 75px 75px;
    margin-top: 32px;
}

.calculation-summary {
    display: grid;
    grid-template-columns: 150px 200px;
    margin-top: 32px;
}

.calculation-lines {
    display: grid;
    grid-template-columns: 150px 150px 150px 50px 50px 50px 50px 50px 50px 50px 50px 50px 100px;
    margin-top: 32px;
}

.out-of-stock-lines {
    display: grid;
    grid-template-columns: 150px 150px 150px 50px 50px 50px 50px 50px 50px 50px 150px;
    margin-top: 32px;
}

.order-lines {
    display: grid;
    grid-template-columns: 25px 75px 500px;
    margin-top: 32px;
}
