.navigation-bar {
    display: grid;
    grid-template-columns: 150px 150px 150px;
}

.flavours {
    display: grid;
    grid-template-columns: 200px 100px;
    margin-top: 32px;
}

.products {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    margin-top: 32px;
}

.measurement {
    display: grid;
    grid-template-columns: 200px 50px 50px 50px;
    margin-top: 32px;
}
.measurement input {
    width: 32px;
}
.measurement input.date {
    width: 150px;
}

.delta {
    display: grid;
    grid-template-columns: 200px 50px 50px 50px;
    margin-top: 32px;
}
.delta input {
    width: 32px;
}
.delta input.date {
    width: 150px;
}

.form {
    display: grid;
    grid-template-columns: 100px 200px;
    margin-top: 32px;
}

.calculation-lines {
    display: grid;
    grid-template-columns: 150px 150px 150px 50px 50px 50px 50px 50px 50px 50px 50px 50px 100px;
    margin-top: 32px;
}

.order-lines {
    display: grid;
    grid-template-columns: 25px 75px 500px;
    margin-top: 32px;
}
